In [585]:
# Importing the Pandas Library
#
import pandas as pd

# Importing the Numpy Library
#
import numpy as np

In [586]:
#loading the database
with open('/content/Autolib_dataset.csv', 'r') as f:
     df = pd.read_csv(f, header=0)
df.head(3)

                            Address  Cars  Bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 25 columns]

In [587]:
#Getting more information on data 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [588]:
#Finding any null values
df.isnull()
df.isnull().any()
df.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [589]:
#Standardization - Fixing messy column names-  All columns will be in lowercase and will avoid any white spaces on the columns 
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
df

                                 address  cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [590]:
#Drop the columns irrelevant to our analysis  
to_drop = ['geo_point','displayed_comment','charge_slots','id','cars', 'address', 'scheduled_at', 'charging_status', 'slots', 'station_type', 'status', 'subscription_status']
df.drop(to_drop, axis=1,inplace=True)

In [591]:
#Check for any duplicates 
df.duplicated().value_counts()

False    5000
dtype: int64

In [592]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bluecar_counter     5000 non-null   int64
 1   utilib_counter      5000 non-null   int64
 2   utilib_1.4_counter  5000 non-null   int64
 3   city                5000 non-null   object
 4   kind                5000 non-null   object
 5   postal_code         5000 non-null   int64
 6   public_name         5000 non-null   object
 7   rental_status       5000 non-null   object
 8   year                5000 non-null   int64
 9   month               5000 non-null   int64
 10  day                 5000 non-null   int64
 11  hour                5000 non-null   int64
 12  minute              5000 non-null   int64
dtypes: int64(9), object(4)
memory usage: 507.9+ KB

In [593]:
df.head(3)

   bluecar_counter  utilib_counter  utilib_1.4_counter  ... day hour  minute
0                0               0                   0  ...   8   11      43
1                6               0                   0  ...   6    7      24
2                3               0                   2  ...   3   20      14

[3 rows x 13 columns]

In [594]:
#Drop all the cities that are not equal to Paris as we are interested in Paris 
df= df.drop(df[(df.city !='Paris')].index)
df

      bluecar_counter  utilib_counter  utilib_1.4_counter  ... day hour  minute
0                   0               0                   0  ...   8   11      43
1                   6               0                   0  ...   6    7      24
3                   3               1                   0  ...   4    4      37
4                   3               0                   0  ...   8   17      23
5                   0               0                   0  ...   6    7       2
...               ...             ...                 ...  ...  ..  ...     ...
4992                0               0                   0  ...   9   23       1
4994                0               0                   0  ...   1   20      49
4996                4               0                   0  ...   4   16      56
4997                1               0                   0  ...   1    7       1
4999                4               0                   0  ...   8   10       2

[2816 rows x 13 columns]

In [595]:
#SET THE date_time as the index
import datetime 
from datetime import  datetime
#date =  datetime.strp(df.year, '%Y')
date =  df.loc[:,'year' : 'minute'].astype('datetime64[ns]')
#dates = date.astype('datetime64[ns]')
date
data = pd.to_datetime(date, format='%d/%m/%Y')

df.index  = data.sort_values(ascending=True)
df

                     bluecar_counter  utilib_counter  ...  hour minute
2018-04-01 00:00:00                0               0  ...    11     43
2018-04-01 00:02:00                6               0  ...     7     24
2018-04-01 00:02:00                3               1  ...     4     37
2018-04-01 00:03:00                3               0  ...    17     23
2018-04-01 00:04:00                0               0  ...     7      2
...                              ...             ...  ...   ...    ...
2018-04-09 23:42:00                0               0  ...    23      1
2018-04-09 23:48:00                0               0  ...    20     49
2018-04-09 23:56:00                4               0  ...    16     56
2018-04-09 23:58:00                1               0  ...     7      1
2018-04-09 23:58:00                4               0  ...    10      2

[2816 rows x 13 columns]

In [596]:
#get the difference which will tell whether a car was picked up, returned, or nothing happened.
df['bluecardifference'] = df['bluecar_counter'].diff()
df['utilibdifference'] = df['utilib_counter'].diff()
df['utilib14']= df['utilib_1.4_counter'].diff()
df

                     bluecar_counter  ...  utilib14
2018-04-01 00:00:00                0  ...       NaN
2018-04-01 00:02:00                6  ...       0.0
2018-04-01 00:02:00                3  ...       0.0
2018-04-01 00:03:00                3  ...       0.0
2018-04-01 00:04:00                0  ...       0.0
...                              ...  ...       ...
2018-04-09 23:42:00                0  ...       0.0
2018-04-09 23:48:00                0  ...       0.0
2018-04-09 23:56:00                4  ...       0.0
2018-04-09 23:58:00                1  ...       0.0
2018-04-09 23:58:00                4  ...       0.0

[2816 rows x 16 columns]

**Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018. **

**CALCULATIONS FOR BLUE CARS  **

In [597]:
#What is the most popular hour for picking cars?
df2 =df[(df.bluecardifference < 0) 
& (df.rental_status == 'operational') 
& (df.kind != 'CENTER')
 ].groupby( [ 'bluecardifference']).agg({'hour': 'max'})
df2

                   hour
bluecardifference
-7.0                  7
-6.0                 21
-5.0                 23
-4.0                 23
-3.0                 23
-2.0                 23
-1.0                 23

**What is the most popular hour for returning cars?**

In [598]:
#What is the most popular hour for returning cars?
df2 =df[(df.bluecardifference > 0) 
& (df.rental_status == 'operational') 
& (df.kind != 'CENTER')
 ].groupby( [ 'bluecardifference']).agg({'hour': 'max'})
df2

                   hour
bluecardifference
1.0                  23
2.0                  23
3.0                  23
4.0                  23
5.0                  23
6.0                  23

**What station is the most popular?
Overall?
At the most popular picking hour?**

In [599]:
#What station is the most popular overall?
df['public_name'].value_counts()

Paris/Porte de Montrouge/8         13
Paris/Mathis/35                    11
Paris/Voltaire/182                 11
Paris/Philippe Auguste/126         11
Paris/Grenelle 31/Parking          11
                                   ..
Paris/Custine/45                    1
Paris/CrimÃ©e/8                     1
Paris/Quai d'Austerlitz/Parking     1
Paris/Pirogues de Bercy/44          1
Paris/Faubourg-Saint-Martin/168     1
Name: public_name, Length: 605, dtype: int64

In [600]:
#What station is the most popular at the most popular picking hour?
df[(df.hour == 21)
&(df.bluecardifference < 0) 
& (df.kind != 'CENTER')
]['public_name'].value_counts().head(1)

Paris/Voltaire/182    3
Name: public_name, dtype: int64

**What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
Overall?
At the most popular picking hour?**

In [601]:
#What postal code is the most popular for picking up Blue cars
#Find most popular postal code 
df[(df.bluecardifference < 0) 
& (df.bluecar_counter)]['postal_code'].value_counts().head(1)

75015    31
Name: postal_code, dtype: int64

In [602]:
#Find postal code for most popular station and compare
df[(df.public_name =='Paris/Porte de Montrouge/8')]['postal_code'].unique()

array([75014])

In [603]:
#Does the most popular station belong to that postal code at the most popular picking hour?
#Find postal code for most popular station
df[(df.public_name =='Paris/Voltaire/182')
&  (df.bluecardifference < 0) 
    &(df.kind != 'CENTER')
    ]['postal_code'].unique()

array([75011])

In [604]:
#Find most popular postal code and compare
df[(df.hour == 21)
&(df.bluecardifference < 0) 
& (df.kind != 'CENTER')
]['postal_code'].value_counts().head(1)

75008    8
Name: postal_code, dtype: int64

In [605]:
#What is the most popular hour for picking utilib cars?
df2 =df[(df.utilibdifference < 0) 
& (df.rental_status == 'operational') 
& (df.kind != 'CENTER')
 ].groupby( [ 'utilibdifference']).agg({'hour': 'max'})
df2

                  hour
utilibdifference
-2.0                22
-1.0                23

**CALCULATIONS FOR UTILIB CARS **

In [606]:
#What is the most popular hour for picking utilib cars?
df2 =df[(df.utilibdifference < 0) 
& (df.rental_status == 'operational') 
& (df.kind != 'CENTER')
 ].groupby( [ 'utilibdifference']).agg({'hour': 'max'})
df2

                  hour
utilibdifference
-2.0                22
-1.0                23

In [607]:
#What is the most popular hour for returning utilib cars?
df2 =df[(df.utilibdifference > 0) 
& (df.rental_status == 'operational') 
& (df.kind != 'CENTER')
 ].groupby( [ 'utilibdifference']).agg({'hour': 'max'})
df2

                  hour
utilibdifference
1.0                 23
2.0                 21

In [608]:
#What station is the most popular at the most popular picking hour?
df[(df.hour == 22)
&(df.utilibdifference < 0) 
& (df.kind != 'CENTER')
]['public_name'].value_counts().head(1)

Paris/Adolphe Yvon/6    1
Name: public_name, dtype: int64

In [609]:
#What station is the most popular at the most popular picking hour?
df[(df.hour == 23)
&(df.utilibdifference < 0) 
& (df.kind != 'CENTER')
]['public_name'].value_counts().head(1)

Paris/Louis Blanc/6    1
Name: public_name, dtype: int64

In [610]:
#What postal code is the most popular for picking up utilib cars
#Find most popular postal code 
df[(df.utilibdifference < 0) 
]['postal_code'].value_counts().head(1)

75015    15
Name: postal_code, dtype: int64

*CALCULATIONS FOR UTILIB 1.4 CARS *

In [613]:
#What is the most popular hour for picking utilib cars?
df2 =df[(df.utilib14 < 0) 
& (df.rental_status == 'operational') 
& (df.kind != 'CENTER')
 ].groupby( [ 'utilib14']).agg({'hour': 'max'})
df2

          hour
utilib14
-2.0        23
-1.0        23

In [612]:
#What is the most popular hour for returning utilib 1.4 cars?
df2 =df[(df.utilib14 > 0) 
& (df.rental_status == 'operational') 
& (df.kind != 'CENTER')
 ].groupby( [ 'utilib14']).agg({'hour': 'max'})
df2

          hour
utilib14
1.0         23
2.0         23
3.0         13

In [614]:
#What station is the most popular at the most popular picking hour?
df[(df.hour == 23)
&(df.utilib14 < 0) 
& (df.kind != 'CENTER')
]['public_name'].value_counts().head(1)

Paris/Championnet/28    1
Name: public_name, dtype: int64

In [616]:
#What postal code is the most popular for picking up utilib 1.4 cars
#Find most popular postal code 
df[(df.utilib14 < 0) 
]['postal_code'].value_counts().head(1)

75015    26
Name: postal_code, dtype: int64